.git
.gitignore
.venv
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.env.*
!.env.example
!.env.backend.example

frontend/
node_modules/

media/
staticfiles/
*.sqlite3
*.db
*.sql
*.dump

docs/
arduino_equipments/
